$links: #F2F2F2;
$label: #D90404;
$letter: #ffffff;
$letter-alt: #262626;

$font-title: "Nunito", sans-serif;
$font-text: Arial, Helvetica, sans-serif;
$font-important: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
  "Droid Sans Mono", monospace, monospace;
