@import "../basic/colorPalette";
@import "../basic/breackPoints";
@import "../decoration";

.drawer {
  display: flex;
  justify-content: space-around;
  .drawer--item {
    display: inline-block;
    position: relative;

    padding: 0 5px;
    margin: auto 0px;
    min-width: 100px;

    text-align: center;
    cursor: pointer;

    .drawer--item--data {
      transition: color 50ms;
      transition-delay: 300ms;
      &:hover {
        color: $strong;
        transition: color 50ms;
        transition-delay: 0ms;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-medium) {
  .drawer--item--data {
    @include links;
  }
}

@media (max-width: $layout-breakpoint-medium) {
  .drawer {
    @include border;

    flex-direction: column;
    display: none;

    position: absolute;
    left: 30%;
    top: 5%;

    background: $background;
    .drawer--item {
      min-width: 35vw;
      padding: 3vh;

      &:first-child {
        border-radius: 15px 15px 0px 0px;
      }

      &:last-child {
        border-radius: 0px 0px 15px 15px;
      }

      &:hover {
        background: $background-variant;
      }
    }
  }
}
