@import "../basic/breackPoints";

.credits {
  .credits--title {
    margin: 0 0 0 50px;
  }
  .credits--content {
    padding: 5vh 5vw;
    .credits--content--link {
    }
  }
}

@media (max-width: $layout-breakpoint-small) {
  .credits {
    .credits--content {
      margin: auto;
      width: 75%;
    }
  }
}
