@import "../basic/breackPoints";
@import "../basic/colorPalette";

.credits {
  .credits--title {
    margin: 0 0 0 50px;
  }
  .credits--content {
    padding: 5vh 5vw;
    .credits--content--data {
      column-count: 2;
      column-gap: 50px;
      column-width: 50px;
      column-rule-width: 2px;
    }
    .credits--content--link {
      color: $strong;
      font-weight: 900;
    }
  }
}

@media (max-width: $layout-breakpoint-small) {
  .credits {
    .credits--content {
      margin: auto;
      width: 75%;
    }
  }
}
