@import "../basic/colorPalette";
@import "credits";
@import "sentence";

.footer {
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto 0px;
  justify-content: space-around;
  &>* {
    flex: 0 0 50%;
  }
}
