@import "../basic/breackPoints";
@import "../basic/fonts";
@import "../decoration";

.icon {
  display: flex;
  align-items: center;

  position: relative;
  .icon--image {
    width: 50px;
    height: 50px;
  }
  .icon--title {
    font-family: $font-title;
    font-style: italic;
    font-weight: bold;
  }

  .tooltiptext {
    @include border;
    @include tooltip(210%, none);
  }
}

@media (max-width: $layout-breakpoint-medium) {
  .icon {
    cursor: pointer;
    .icon--title {
      display: none;
    }

    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}
