@import "../basic/fonts";

@mixin links {
  &:after {
    content: "";

    transition: transform 0.25s ease-out;
    transform-origin: bottom right;
    transform: scaleX(0);

    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;

    width: 80%;
    height: 2px;
    margin: 0 auto;

    background-color: $strong;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
